* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
}
body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-weight: 800;
    background-color: blue;
    color: red;
    -webkit-text-stroke: white 1px;

}
img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: rgba(201, 132, 247, 0.767);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}
.menu li a {
    background-color: blueviolet;
    display: block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}


/*CSS FLEXBOX*/

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}
.flex > img {
    height: 400px;
}

/*CSS GRID 1*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}
.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}
.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

@media (max-width:600px){
    .grid1 {
        grid-template-columns: 1fr;
    }
    .grid1 > div:nth-child(n + 4){
    display: block;
    }
    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}